.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
  }
}

.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
  .remove-btn {
    font-size: 22px;
    font-weight: bold;
  }
}

/* Write your CSS here */
.remove-btn {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(36, 131, 232);
  font-size: 18px;
  font-weight: 530;
}
.cart-sumary-card {
  align-self: flex-end;
}
.order-amount {
  color: gray;
}
.amount {
  color: black;
  margin-left: 6px;
}
.cart-count {
  color: gray;
  font-size: 16px;
  font-weight: 540;
}
.checkout-btn {
  background-color: #0b69ff;
  outline: none;
  border-style: none;
  padding: 10px;
  height: 40px;
  color: white;
  font-size: 16px;
  font-weight: 540;
  width: 100%;
  border-radius: 8px;
}

.popup-container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.popup-content {
  width: 100%;
  height: 100vh;
  background-color: #0606068f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.popup-card {
  width: 35%;
  height: 90%;
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.close-btn {
  background-color: transparent;
  outline: none;
  border-style: none;
  align-self: flex-end;
  font-size: 24px;
  color: #1f91bf;
}
.heading {
  color: #141515cc;
  text-align: center;
}
.payment-options-div {
  display: flex;
  flex-direction: column;
}
.payment-option {
  margin: 10px 5px 10px 5px;
}
.payment-inp {
  height: 15px;
  width: 15px;
}
.label {
  font-size: 16px;
  color: rgb(129 161 172);
  margin-bottom: 5px;
  margin-left: 5px;
}
.cod-label {
  color: #11b2f4;
}
.payment-summary-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 25px;
  padding-right: 20px;
}

.total-items {
  font-size: 22px;
  color: #434242eb;
  font-weight: 530;
  margin-top: 10px;
}
.total-amount {
  font-size: 22px;
  color: #1875d9;
  margin-top: 10px;
  font-weight: 530;
}
.order-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-now-btn {
  outline: none;
  border-style: none;
  background-color: #0b69ff;
  color: white;
  font-size: 16px;
  font-weight: 520;
  border-radius: 8px;
  height: 40px;
  width: 80%;
  margin-top: 25px;
}
